/* font css import here */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
body{
      max-width: 1440px;
      font-family: "Mulish", sans-serif;
}




header {
      display: flex;
      justify-content: space-between;
      margin: 50px 130px;
}
header .logo {
      color: #131318;
      font-size: 36px;
      font-weight: 800;
      padding-top: -30px;
}
.logo-position{
      position: relative;
      bottom: 10px;
}
.name-title{
      color: #FF5400;
}
header nav ul {
      display: flex;
      list-style: none;
      gap: 44px;
      padding-top: 15px;
}
header nav ul li a {
      text-decoration: none;
      color: #424247;
      font-size: 18px;
      font-weight: 400;
}
li a:hover{
      color: #FF5400;
}
.hamburger {
      cursor: pointer;
      display: none;
}
.hamburger div {
      width: 30px;
      height: 3px;
      margin: 5px 0;
      background: #000;
}


/* main section style here */


.banner-section{
      background-image: url(Images/Rectangle\ 2.png), url(Images/Group\ 13\ \(1\)\ \(1\).png);
      background-repeat: no-repeat;
      height: 500px;
      border-radius: 16px;
      margin: 0 135px;
      background-size: cover;
      background-position: center;

}
.banner-title{
      color: #FFF;
      font-size: 64px;
      font-weight: 800;
      padding-top: 105px;
      text-align: center;
}
.banner-desc{
      color: #FFF;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      padding: 24px 247px;
}
.row{
      display: flex;
      justify-content: space-evenly;
      margin: 0 185px;
      padding: 1rem;
      margin-top: 24px ;
      background: rgba(255, 255, 255, 0.30);
      
}
.selection-area select,button, input{
      width: 174px;
      height: 50px;
      padding-left: 10px;
      border-radius: 8px;
      background-color: #FFF;
      border: none;
      color: rgba(19, 19, 24, 0.50);
}
.selection-area button{
      background: #FF5400;
      padding-right: 40px;
      color: #fff;
      
}

.tours-section{
      margin: 100px 135px;
      display: flex;
      gap: 50px;
}
.tours-title{
      color: #131318;
      font-size: 40px;
      font-weight: 800;
      text-align: center;

}
.tours-desc{
      padding-top: 24px;
      color: rgba(19, 19, 24, 0.70);
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
}
.list li{
      padding-top: 16px;
}
.btn-primary{
      color: #FFF;
      font-size: 20px;
      font-weight: 600;
      border-radius: 8px;
      background: #FF5400;
      margin-top: 32px;
}

.destination-section{
      margin: 0 135px;
}
.text-center{
      text-align: center;

}

.text-center, .tours-desc{
      width: 100%;
      margin: 0 auto;
      padding-bottom: 50px;
}

.images{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
      margin-bottom: 24px;
}
.images1{
      display: grid;
      grid-template-columns: repeat(3, 1fr 1fr 1fr);
      gap: 24px;
      margin-bottom: 24px;
}
.images2{
      display: grid;
      grid-template-columns: repeat(2, 1fr 1fr);
      gap: 24px;
      margin-bottom: 100px;
}
.center{
      position: relative;
}
.maldives{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #FFF;
      font-size: 28px;
      font-weight: 800;
}
.choose-section{
      margin: 0 135px;
}
.card-container{
      display: flex;
      gap: 24px;
      
}
.card{
      border-radius: 16px;
      border: 1px solid rgba(251, 181, 99, 0.20);
      background: rgba(251, 181, 99, 0.05);
      padding: 32px;
      
}
.card:hover{
      background: rgba(41, 206, 246, 0.05);
      cursor: pointer;
}
.choose-title{
      color: #131318;
      font-size: 24px;
      font-weight: 800;
      padding-top: 32px;
}
.choose-desc{
      color: #5A5A5D;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      padding-top: 5px;
}
.card1{
      width: 565px;
      margin: 0 auto;
      margin-top: 24px;
}

.perfect-place-section{
      margin: 100px 135px;
      display: flex;
      gap: 40px;
}
.place-info li{
      color: #131318;
      font-size: 16px;
      font-weight: 700;
      line-height: 26px;
      padding-top: 10px;
}

.news-letter-section{
      margin: 0 135px;
      display: flex;
      gap: 24px;
      margin-bottom: 100px;
}
.news-letter-info{
      border-radius: 16px;
      border: 1px solid #FF5400;
      padding: 40px;

}
.news{
      text-align: left;
}
.input-section, input, button{
      display: block;
      width: 100%;
      margin-top: 15px;
      color: rgba(19, 19, 24, 0.30);
      font-size: 16px;
      font-weight: 400;
      
}
.input-section input{
      border-radius: 8px;
      background: rgba(19, 19, 24, 0.05);
}
hr{
      background: rgba(19, 19, 24, 0.5);
}

.text-container-box{
      border-radius: 16px;
      background: #FF5400;
      width: 324px;
      height: 120px;
      transform: rotate(-19.628deg);
      color: #FFF;
      position: absolute;
      bottom: 12%;
      right: 2%;

}
.text-container-box h5{
      text-align: center;
      font-size: 24px;
      font-weight: 400;
      padding-top: 20px;
}
.text-container-box h3{
      font-size: 32px;
      font-weight: 800;
      text-align: center;
}
.news-letter-img{
      position: relative;
}
.news-letter-img img{
      height: 472px;
}

@media only screen and (max-width: 600px) {
      /* common style */
      .width{
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0;
            margin-left: 10px;
      }
      .column{
            flex-direction: column;
            padding-left: 10px;
      }
      .margin{
            margin: 10px 0px;
      }

      .hamburger {
            display: block;
            margin-top: 10px;
            width: 24px;
            height: 24px;
      }
      header{
            margin: 20px 10px;
      }
      header nav {
            position: absolute;
            width: 100%;
            left: -100%;
            top: 70px;
            width: 100%;
            background: white;
            padding: 30px;
            transition: 0.3s;
      }
      header #nav_check:checked ~ nav {
            left: 0;
      }
      header nav ul {
            display: block;
      }

      .banner-section{
            height: auto;
            margin: 0px;
            width: 100%;
      }
      .banner-title{
            font-size: 22px;
            margin: 0px 0px;
      }
      .banner-desc{
            margin: 0px 15px;
            width: 80%;
      }
      
      .row{
            margin: 0;
            text-align: center;
      }
      .selection-area{
            margin-top: 20px;
            width: 100%;
      }
      .tours-title{
            font-size: 20px;
            padding-top: 30px;
      }
      .tours-desc{
            width: 100%;
      }
      .tours-images img{
            width: 100%;
      }
      .all-images img{
            width: 100%;
            height: auto;
            margin-top: 20px;
      }
      .destination-section{
            margin: 0;
      }
      .images, .images1, .images2{
            display: block;
      }
      .card1{
            width: 100%;
      }
      .place-img iframe{
            width: 100%;
      }
      
      .news-letter-img img{
            width: 100%;
            height: auto;
      }
}